.card-rounded {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.custom-card {
    border-radius: 20px;
    /* Rounded corners */
    overflow: hidden;
    /* Ensures the image respects the border radius */
    background: linear-gradient(45deg, #071a1f, #2193b0);
    /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
    color: #fff;
    /* White text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for hover effect */
    max-width: min-content;
    max-height: min-content;
}

.custom-card:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* Increased shadow on hover */
}

.card-img-top {
    /* Fixed height for the image */
    object-fit: cover;
    /* Ensures the image covers the area */
}

.card-body {
    background-color: rgba(255, 255, 255, 0.1);
    /* Semi-transparent background for the content */
    backdrop-filter: blur(10px);
    /* Blur effect for the background */

}