.carousel-custom .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.feature-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.card-rounded {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.feature-card {
    border-radius: 20px;
    /* Rounded corners */
    overflow: hidden;
    /* Ensures the image respects the border radius */
    background: linear-gradient(45deg, #071a1f, #2193b0);
    /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Subtle shadow for depth */
    color: #fff;
    /* White text color */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transition for hover effect */
    margin-top: 20px;
    margin-bottom: 20px;
}

.feature-card:hover {
    transform: translateY(-5px);
    /* Slight lift on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    /* Increased shadow on hover */
}

.card-title {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bold;
}

.card-body {
    background-color: rgba(255, 255, 255, 0.1);
    /* Semi-transparent background for the content */
    backdrop-filter: blur(10px);
    /* Blur effect for the background */
}

.featureCardButton {
    font-weight: bold;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.1);
}

.featureCardButton:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border-color: white;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Add more custom styles as needed */